packages
bin
obj

*.suo
*.log
*.log.*
*ReSharper*
cd_licenses.xml
cd_storage_conf.xml
*.s3db
*.user
/Sample.Website/*.StyleCop
/Resources/TridionHome/config/cp_license.xml
/Resources/TridionHome/config/license.xml
/Resources/TridionHome/config/tcs_license.xml

/_build
/_dependencies/*

/_dependencies

